/* 
COLOR PALETTE
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2f3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light 
*/


/** Global Styles **/ 
body {
	color: #343434;
}

img {
	width: 300px;
}

a {
	color: #FFE66D;
}

a:hover {
	text-decoration: none;
}

.content-wrap {
	width: 800px;
	margin: 0 auto;
}

/** Profile **/ 
header {
	background: #2f3061;
	color: #f7fff7;
}

/** Projects **/ 
.projects {
	background: #F7FFF7;
}

.projects a{
	color: #2f3061;
}

.projects .btn {
	color: #f7fff7;
	background: #2f3061;
	text-decoration: none;
	padding: 8px;
	border-radius: 4px;
}
.projects .btn:hover {
	background: rgba(47, 48, 97, 80%);
}

/** Work Experience **/ 
.work-experince {

}

/** Education **/ 


/** Contact Info **/ 